/*RESET*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*COLORS*/
/*COMMON CLASSES*/
html {
  scroll-padding-top: 76px;
}

body {
  font-family: 'Caveat', cursive;
  font-family: 'Nunito', sans-serif;
  background-color: #f3f2f2;
}

.gradient {
  background-color: #20bf55;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

.h2 {
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.h2::before,
.h2::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

.h2::before {
  top: -4px;
  left: -8px;
  border-top: 3px solid #7ee8fa;
  border-left: 3px solid #7ee8fa;
}

.h2::after {
  bottom: -4px;
  right: -8px;
  border-bottom: 3px solid #7ee8fa;
  border-right: 3px solid #7ee8fa;
}

.white-block {
  position: absolute;
  height: 40px;
  width: 60%;
  background-color: #f3f2f2;
}

.white-block-left {
  bottom: 0;
  left: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.white-block-right {
  top: 0;
  right: -50px;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
}

.white-background {
  background-image: url("../img/Wave.svg");
  background-size: cover;
}

/*NAVBAR*/
.navbar {
  background-color: #fff;
  z-index: 10;
  -webkit-box-shadow: 3px 1px 10px gray;
          box-shadow: 3px 1px 10px gray;
}

.navbar__img {
  height: 50px;
}

.navbar__a {
  font-weight: 600;
  text-transform: uppercase;
  color: black;
  -webkit-transition: color .4s;
  transition: color .4s;
}

.navbar__a:hover {
  color: #7ee8fa;
}

.navbar__bars {
  padding: 10px;
  font-size: 30px;
}

.navbar .active {
  color: #7ee8fa;
}

/*HEADER*/
.header__img {
  position: relative;
  height: 300px;
  background-image: url("../img/header/header_small.jpeg");
  background-position: center;
  background-size: cover;
}

.header__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__text {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  color: #fff;
}

.header__text p {
  font-size: 16px;
  font-family: 'Caveat', cursive;
}

.header__h1 {
  font-weight: bold;
  text-shadow: 2px 4px black;
  font-size: 30px;
}

.header__span {
  color: #7ee8fa;
  -webkit-transition: color .4s;
  transition: color .4s;
  cursor: pointer;
}

/*MAIN*/
/*ABOUT US*/
.about-us {
  overflow: hidden;
}

.about-us .container {
  padding: 0;
}

.about-us__img {
  border-radius: 10px;
  width: 200px;
}

.about-us__p {
  font-style: italic;
}

.about-us__p__span {
  font-weight: bold;
  color: #7ee8fa;
}

.about-us-two {
  position: relative;
  overflow: hidden;
}

.about-us-two__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.about-us-two__card-one:hover > .about-us-two__card-one__text {
  -webkit-clip-path: circle(80% at 50% 50%);
          clip-path: circle(80% at 50% 50%);
}

.about-us-two__card-one {
  position: relative;
  height: 300px;
  width: 200px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  margin: 20px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
  cursor: crosshair;
}

.about-us-two__card-one--dorothy {
  background-image: url("../img/aboutus/dorotka.png");
}

.about-us-two__card-one--ola {
  background-image: url("../img/aboutus/olka.png");
}

.about-us-two__card-one--eve {
  background-image: url("../img/aboutus/ewelinka.png");
}

.about-us-two__card-one__text {
  height: inherit;
  width: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  -webkit-clip-path: circle(0 at 50% 50%);
          clip-path: circle(0 at 50% 50%);
  -webkit-transition: -webkit-clip-path .8s;
  transition: -webkit-clip-path .8s;
  transition: clip-path .8s;
  transition: clip-path .8s, -webkit-clip-path .8s;
}

.about-us-two__card-one__text h3 {
  font-weight: bold;
}

.about-us-two__card-one__text p {
  color: #7ee8fa;
}

/*WHYUS*/
.whyus {
  overflow: hidden;
}

.whyus__column {
  margin-bottom: 20px;
}

.whyus__icon {
  color: #fff;
  text-shadow: 0 0 5px black;
  font-size: 60px;
}

.whyus__icon__text {
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  font-family: 'Caveat', cursive;
  font-weight: 500;
}

/*SWIMMING STYLES*/
.styles {
  position: relative;
  overflow: hidden;
  /*MOVIES*/
}

.styles__movies__iframe {
  border-radius: 10px;
  width: 200px;
}

/*KONTAKT*/
.contact i {
  color: #7ee8fa;
  font-size: 60px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.contact i:hover {
  color: #7ee8fa;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.contact i:hover + p {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

.contact p {
  color: black;
  padding-top: 7px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
  font-family: 'Caveat', cursive;
  font-weight: 500;
  font-size: 20px;
}

/*NEWS*/
.container {
  padding: 0 10px;
}

.container .news:nth-child(odd) {
  background-color: #20bf55;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #80ff72 0%, #7ee8fa 74%);
}

.container .news {
  position: relative;
  background-color: #20bf55;
  background-color: #7ee8fa;
  background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
  margin: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
}

.container .news__h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.container .news__text {
  padding: 10px;
}

.container .news__faded {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: #fff;
  font-family: 'Caveat', cursive;
}

/*GALLERY*/
.gallery {
  text-align: center;
}

.gallery img {
  width: 200px;
  max-height: 169px;
  margin: 20px 30px;
  border-radius: 8px;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.gallery img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/*MEDIA QUERIES*/
@media (min-width: 375px) {
  /*NAVBAR*/
  .navbar__img {
    height: 60px;
  }
  /*HEADER*/
  .header__img {
    height: 400px;
  }
  .header__h1 {
    font-size: 50px;
  }
  .header p {
    font-size: 20px;
  }
  /*MAIN*/
  /*ABOUT US*/
  .about-us__img {
    width: 340px;
  }
  /*STYLES*/
  .styles {
    /*MOVIES*/
  }
  .styles__movies__iframe {
    width: 300px;
    height: 200px;
  }
  /*GALLERY*/
  .gallery img {
    width: 300px;
  }
}

@media (min-width: 576px) {
  /*HEADER*/
  .header__img {
    height: 500px;
  }
  .header p {
    font-size: 25px;
  }
  /*MAIN*/
  /*ABOUT US*/
  .about-us__img {
    width: 500px;
  }
  .about-us__p {
    font-size: 18px;
  }
  /*STYLES*/
  .styles {
    /*MOVIES*/
  }
  .styles__movies__iframe {
    width: 500px;
    height: 300px;
  }
}

@media (min-width: 768px) {
  /*HEADER*/
  .header__img {
    background-image: url("../img/header/header_big.jpeg");
  }
  .header__h1 {
    font-size: 60px;
  }
  /*ABOUT US*/
  .about-us__img {
    width: 370px;
  }
}

@media (min-width: 992px) {
  /*MAIN*/
  /*ABOUT US*/
  .about-us__img {
    width: 500px;
  }
  .about-us__p {
    font-size: 20px;
  }
  /*STYLES*/
  .styles {
    /*MOVIES*/
  }
  .styles__movies__iframe {
    width: 450px;
  }
  /*CONTACT*/
  .contact__img {
    background-image: url("../img/contact/contact_big.jpeg");
  }
  /*NEWS*/
  .main-news .container {
    padding: 0 60px;
  }
}

@media (min-width: 1200px) {
  html {
    scroll-padding-top: 96px;
  }
  /*NAVBAR*/
  .navbar__img {
    height: 80px;
  }
  /*HEADER*/
  .header__img {
    height: 700px;
  }
  .header__h1 {
    font-size: 80px;
  }
  .header p {
    font-size: 35px;
  }
  /*ABOUT-US*/
  .about-us__p {
    font-size: 25px;
  }
  /*STYLES*/
  .styles {
    /*MOVIES*/
  }
  .styles__movies__iframe {
    width: 500px;
  }
  /*NEWS*/
  .container {
    padding: 0 100px;
  }
}
/*# sourceMappingURL=main.css.map */