/*RESET*/
@import 'reset.scss';

/*COLORS*/
@import 'colors.scss';

/*COMMON CLASSES*/
html {
    scroll-padding-top: 76px;
}

body {
    font-family: 'Caveat', cursive;
    font-family: 'Nunito', sans-serif;
    background-color: $background_color;
}

.gradient {
    background-color: $green_main;
    background-color: $main_color;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
}

.h2 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.h2::before,
.h2::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.h2::before {
    top: -4px;
    left: -8px;
    border-top: 3px solid $main_color;
    border-left: 3px solid $main_color;
}

.h2::after {
    bottom: -4px;
    right: -8px;
    border-bottom: 3px solid $main_color;
    border-right: 3px solid $main_color;
}

.white-block {
    position: absolute;
    height: 40px;
    width: 60%;
    background-color: $background_color;

    &-left {
        bottom: 0;
        left: -50px;
        transform: skew(45deg);
    }

    &-right {
        top: 0;
        right: -50px;
        transform: skew(45deg);
    }
}

.white-background {
    background-image: url('../img/Wave.svg');
    background-size: cover;
}

/*NAVBAR*/
.navbar {
    background-color: $white_color;
    z-index: 10;
    box-shadow: 3px 1px 10px $gray_color;

    &__img {
        height: 50px;
    }

    &__a {
        font-weight: 600;
        text-transform: uppercase;
        color: $black_color;
        transition: color .4s;
    }

    &__a:hover {
        color: $main_color;
    }

    &__bars {
        padding: 10px;
        font-size: 30px;
        color: $black_color;
    }

    .active {
        color: $main_color;
    }
}

/*HEADER*/
.header {
    &__img {
        position: relative;
        height: 300px;
        background-image: url('../img/header/header_small.jpeg');
        background-position: center;
        background-size: cover;
    }

    &__shadow {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
    }

    &__text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        color: $white_color;

        p {
            font-size: 16px;
            font-family: 'Caveat', cursive;
        }
    }

    &__h1 {
        font-weight: bold;
        text-shadow: 2px 4px $black_color;
        font-size: 30px;
    }

    &__span {
        color: $main_color;
        transition: color .4s;
        cursor: pointer;
    }
}

/*MAIN*/
/*ABOUT US*/
.about-us {
    overflow: hidden;

    .container {
        padding: 0;
    }

    &__img {
        border-radius: 10px;
        width: 200px;
    }

    &__p {
        font-style: italic;

        &__span {
            font-weight: bold;
            color: $main_color;
        }
    }
}

.about-us-two {
    position: relative;
    overflow: hidden;

    &__cards {
        display: flex;
        justify-content: space-evenly;
    }

    &__card-one:hover>&__card-one__text {
        clip-path: circle(80% at 50% 50%);
    }

    &__card-one {
        position: relative;
        height: 300px;
        width: 200px;
        border-radius: 10px;
        background-position: center;
        background-size: cover;
        margin: 20px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, .7);
        cursor: crosshair;

        &--dorothy {
            background-image: url('../img/aboutus/dorotka.png');
        }

        &--ola {
            background-image: url('../img/aboutus/olka.png');
        }

        &--eve {
            background-image: url('../img/aboutus/ewelinka.png');
        }

        &__text {
            height: inherit;
            width: inherit;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 10px;
            background-color: rgba(0, 0, 0, .85);
            color: $white_color;
            clip-path: circle(0 at 50% 50%);
            transition: clip-path .8s;

            h3 {
                font-weight: bold;
            }

            p {
                color: $main_color;
            }
        }
    }
}

/*WHYUS*/
.whyus {
    overflow: hidden;

    &__column {
        margin-bottom: 20px;
    }

    &__icon {
        color: $white_color;
        text-shadow: 0 0 5px $black_color;
        font-size: 60px;

        &__text {
            margin-top: 15px;
            text-transform: uppercase;
            font-size: 15px;
            font-family: 'Caveat', cursive;
            font-weight: 500;
        }
    }
}

/*SWIMMING STYLES*/
.styles {
    position: relative;
    overflow: hidden;

    /*MOVIES*/
    &__movies {
        &__iframe {
            border-radius: 10px;
            width: 200px;
        }
    }
}

/*KONTAKT*/
.contact {
    i {
        color: $main_color;
        font-size: 60px;
        transition: all .4s;
    }

    i:hover {
        color: $main_color;
        transform: scale(1.3)
    }

    i:hover+p {
        transform: translateY(20px);
    }

    p {
        color: $black_color;
        padding-top: 7px;
        transition: transform .4s;
        font-family: 'Caveat', cursive;
        font-weight: 500;
        font-size: 20px;
    }

}

/*NEWS*/
.container {
    padding: 0 10px;

    .news:nth-child(odd) {
        background-color: $green_main;
        background-color: $main_color;
        background-image: linear-gradient(315deg, #80ff72 0%, #7ee8fa 74%);
    }

    .news {
        position: relative;
        background-color: $green_main;
        background-color: $main_color;
        background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);
        margin: 30px;
        border-radius: 10px;
        box-shadow: 1px 1px 5px $black_color;

        &__h2 {
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }

        &__text {
            padding: 10px;
        }

        &__faded {
            position: absolute;
            right: 10px;
            bottom: 0;
            color: $white_color;
            font-family: 'Caveat', cursive;
        }
    }
}

/*GALLERY*/
.gallery {
    text-align: center;

    img {
        width: 200px;
        max-height: 169px;
        margin: 20px 30px;
        border-radius: 8px;
        transition: transform .4s;
    }

    img:hover {
        transform: scale(1.05);
    }
}

/*MEDIA QUERIES*/
@media(min-width: 375px) {

    /*NAVBAR*/
    .navbar {
        &__img {
            height: 60px;
        }
    }

    /*HEADER*/
    .header {
        &__img {
            height: 400px;
        }

        &__h1 {
            font-size: 50px;
        }

        p {
            font-size: 20px;
        }
    }

    /*MAIN*/
    /*ABOUT US*/
    .about-us {
        &__img {
            width: 340px;
        }
    }

    /*STYLES*/
    .styles {

        /*MOVIES*/
        &__movies {
            &__iframe {
                width: 300px;
                height: 200px;
            }
        }
    }

    /*GALLERY*/
    .gallery {
        img {
            width: 300px;
        }

    }

}

@media(min-width: 576px) {

    /*HEADER*/
    .header {
        &__img {
            height: 500px;
        }

        p {
            font-size: 25px;
        }
    }

    /*MAIN*/
    /*ABOUT US*/
    .about-us {
        &__img {
            width: 500px;
        }

        &__p {
            font-size: 18px;
        }
    }

    /*STYLES*/
    .styles {

        /*MOVIES*/
        &__movies {
            &__iframe {
                width: 500px;
                height: 300px;
            }
        }
    }
}


@media(min-width: 768px) {

    /*HEADER*/
    .header {
        &__img {
            background-image: url('../img/header/header_big.jpeg');
        }

        &__h1 {
            font-size: 60px;
        }
    }

    /*ABOUT US*/
    .about-us {
        &__img {
            width: 370px;
        }
    }
}


@media(min-width: 992px) {

    /*MAIN*/
    /*ABOUT US*/
    .about-us {
        &__img {
            width: 500px;
        }

        &__p {
            font-size: 20px;
        }
    }

    /*STYLES*/
    .styles {

        /*MOVIES*/
        &__movies {
            &__iframe {
                width: 450px;
            }
        }
    }

    /*CONTACT*/
    .contact {
        &__img {
            background-image: url('../img/contact/contact_big.jpeg');
        }
    }

    /*NEWS*/
    .main-news {
        .container {
            padding: 0 60px;
        }
    }
}


@media(min-width: 1200px) {
    html {
        scroll-padding-top: 96px;
    }

    /*NAVBAR*/
    .navbar {
        &__img {
            height: 80px;
        }
    }

    /*HEADER*/
    .header {
        &__img {
            height: 700px;
        }

        &__h1 {
            font-size: 80px;
        }

        p {
            font-size: 35px;
        }
    }

    /*ABOUT-US*/
    .about-us {
        &__p {
            font-size: 25px;
        }
    }

    /*STYLES*/
    .styles {

        /*MOVIES*/
        &__movies {
            &__iframe {
                width: 500px;
            }
        }
    }

    /*NEWS*/
    .container {
        padding: 0 100px;
    }
}